@charset "utf-8";

@keyframes RightToLeft {
  0% {
    opacity: 0;/* 透明 */
    transform: translateY(50px);/* X軸方向に50px */
  }
  100% {
    opacity: 1;/* 不透明 */
    transform: translateY(0);
  }
}

body {
    font-family: 'Roboto', serif;
    max-width: 100%;
    margin: 0 auto;
    animation-duration: 1s;/* アニメーション時間 */
    animation-name: RightToLeft;/* アニメーション名 */
    animation-iteration-count: 1;/
}

video {
    position: absolute;
	top:0;
	left:0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    background: url(img/rimowa.png) no-repeat center;
    background-size: cover;
}
#cover {
    position: relative;
    z-index: 100;
}
/*タイトルエリア*/


.titlearea {
    position: absolute;
    top:20px;
    right: 30px;
    z-index: 100;
}
.titlearea p {
    color: #fff;
    font-size: 11px;
}
.titlearea i {
    color: #fff;
    padding-left: 40px;
    font-size: 13px;
}

.mark {
    display: flex;
	justify-content:space-between;
}

.icon {
    display: flex;
    width:200px;
    margin: auto;
    position: relative;
    z-index: 100;
}

.title {
   display: flex;
   justify-content: center;
   padding-top: 0px;
   font-weight: 100;
   color: #F7F5F4;
   font-size: 28px;
}
.title:hover {
   color: #424242;
}

.lang{
    position: absolute;
    top: 20px;
    left: 30px;
}
.lang p{
    color: #fff;
    font-size: 11px;
}

.cover p {
    position: relative;
    z-index: 100;
}


/*メニュー*/

#menubar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 30px;
    background: linear-gradient(#000,transparent);
}
#menubar:hover {
    background: none;
    color: #424242;
    
}


.menu ul{
    display: flex;
    justify-content: space-around;
    width: 800px;
    margin: auto;
}
.menu li{
    letter-spacing: 3px;
    font-size: 13px;
    list-style: none;
}

.menu li a:hover{
    color: #000;
}

.menu a{
    color:#F7F5F4;
}




/*h1 h2 h3*/
 h1 {
    font-size: 32px;
    color: #424242;
    letter-spacing: 1px;
}

h2 {
    font-size: 15px;
    color: #424242;
    letter-spacing: 3px;
}
p {
    letter-spacing: 2px;
    line-height: 26px;
    text-align: center;
    font-size: 15px;
    color: #424242;
}

/*ヘッダーテキスト*/

.maintext{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
}
.maintext h1{
    color: #F7F5F4;
    padding-left: 100px;
}
.maintext h2 {
    color: #F7F5F4;
    padding: 120px 0 0 100px;
}

/*ボタン*/
.mainbtn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 13px;
    width: 300px;
    text-align: center;
    letter-spacing: 3px;
    padding-left: 100px;
}
a{
    text-decoration: none;
    font-size: 13px;
}

.btn1 {
    background: #F7F5F4;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.btn1 a {
    color: #424242;
}

.btn2 {
    height: 50px;
    color: #F7F5F4;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F7F5F4;
    border-radius: 3px;
}

.btn2 a {
    color: #F7F5F4;
}


/*ボックス２*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container h1{
    display: flex;
    align-self: center;
    padding: 180px 0 40px 0;
}

.container p {
    display: flex;
    align-self:center;
    text-align: center;
    width: 40%;
    padding-bottom: 50px;
}


.designs h2 {
    text-align: center;
}

.blue {
    background: #F7F5F4;
    height: 300px;
    width: 280px;
    margin-top: 40px;
    padding-bottom: 100px;
}
.blueicon{
     display: flex;
     justify-content: space-between;
}
.blueicon i {
    padding: 5px;
    transition: .5s;
}
.redicon i {
    padding: 5px;
    transition: .5s;
}

.designs i:hover {
    opacity: 0.8;
}

.red {
    background: #F7F5F4;
    height: 300px;
    width: 280px;
    margin-top: 40px;
    padding-bottom: 100px;
}
.redicon{
     display: flex;
     justify-content: space-between;
}

.pic {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;
    margin: 0 130px;
    
}
.pic1 {
    width: 280px;
    height: 280px;
}
.pic2 {
    width: 280px;
    height: 280px;
}

/*arrow*/
.arrow {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.leftarrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    top: -230px;
    left: 130px;
    box-shadow: 0 0 8px #dcdcdc;
}
.arrow i{
     padding-top: 11px;
}
.rightarrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    top: -230px;
    right: 130px;
    box-shadow: 0 0 8px #dcdcdc;
}


/*Discription*/

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description h1{
    display: flex;
    align-self: center;
    margin-top: 80px;
    text-align: center;
}

.description img {
    width: 339px;
    height: 339px;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}


.start {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    margin: 0 150px;
    flex-wrap: wrap;
}
.create {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    flex-wrap:wrap-reverse;
    margin: 0 150px;
}
.add {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    flex-wrap:wrap;
    margin: 0 150px;
}

.starttext {
    width: 40%;
}

.createtext {
    width: 35%;
    order:1;
}
.createpic{
    order:2;
}
.description h1 {
}
.addtext {
    width: 30%;
}

.btn3 {
    background: #424242;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 300px;
    letter-spacing: 3px;
    align-self:center;
    margin: auto;
    margin-bottom: 60px;
}

.btn3 a {
    color:  #F7F5F4;
}


/*コレクション*/
.collections a {
    text-decoration: underline;
    color: #424242;
    font-size: 13px;
    letter-spacing: 3px;
}
.collections {
    opacity : 0;
    transform: translateY(30px);
    transition: 1.5s;
}
.collection {
    max-width: 1200px;
    background: #F7F5F4;
    margin-top: 56px;
    padding-top: 74px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
}

.collection img {
    width:576px;
    padding-top: 30px;
    align-items: flex-start;
    flex-basis: auto;
    flex-shrink: 0;
}

.keystrap {
    background: #F7F5F4;
    width: 572px;
    margin-top: 40px;
    padding-top: 60px;
    text-align: center;
}
.keystrap img {
    width: 339px;
    padding-top: 40px;
}
.area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 90px;
}

.accessories {
    background: #F7F5F4;
    width: 572px;
    margin-top: 40px;
    padding-top: 60px;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}
    
.accessories img {
    background: #F7F5F4;
    width: 572px;
}


/*ストア*/

.store {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
}

.store img {
    width: 50%;
}
.storetext {
    width: 50%;
    background: #424242;
    padding-top: 100px;
}

.storetext h1 {
    color:#fff;
    text-align: center;
    font-size: 32px;
}
.storetext p {
    color:#fff;
    width: 30%;
    margin: auto;
    font-size: 13px;
    color:#bfbfbf;
}

#store .btn4 {
    background: #F7F5F4;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-size: 14px;
    width: 300px;
    letter-spacing: 3px;
    align-self:center;
    margin: auto;
    margin-top: 30px;
}

.btn4 a{
    color: #424242;
}

/*コンタクト*/

.ploof {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
    background: #0D0900;
}
.ploof img {
    width: 70px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.ploof p {
    width: 250px;
    font-size: 11px;
    color: #b2ada6;
}

.ploof span {
    color: #fff;
}

.question {
    display: flex;
    justify-content: space-between;
    padding: 50px 40px;
    background: #0D0900;
    border-bottom: 1px solid rgba(178,173,166,.2);
}

.contact {
    display: flex;
}
.call p{
    padding-right: 30px;
}
.question p{
    color: #fff;
    font-size: 18px;
}



.help span{
    font-size: 11px;
    color: #b2ada6;
}

.help p{
    text-align: left;
}


/*ライン*/


/*フォーム*/

.attention {
	display:none;
}

.details {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    background: #0D0900;
    padding: 50px 0;
    border-bottom: 1px solid rgba(178,173,166,.2);
}

.form {
    display: flex;
    flex-direction: column;
    width: 35%;
    padding-left: 50px;
}

.form p {
    text-align: left;
    color: #fff;
    font-size: 18px;
}

.radio {
    display: flex;
    font-size: 11px;
}
.radio p{
    font-size: 12px;
    padding-right: 20px;
}

.fullname {
    display: flex;
    justify-content: space-between;
}
.signin p {
    text-align: left;
    color: #fff;  
    font-size: 18px;
    width: 300px;
}


.signin {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-top:40px;
}

.signin img{
    width: 234px;
    height: 150px;
}

.email {
    width: 100%;
    height: 44px;
    padding: 0 0 0 15px;
    margin: 0;
    -webkit-appearance: none;
    border: none;
    border-radius: 3px;
    background-color: #f7f5f4;
    font-size: 16px;
    font-family: sans-serif;
}
.firstname {
    width: 99%;
    height: 44px;
    padding: 0 0 0 15px;
    margin: 0;
    -webkit-appearance: none;
    border: none;
    border-radius: 3px;
    background-color: #f7f5f4;
    font-size: 16px;
    font-family: sans-serif;
}
.lastname {
    width: 99%;
    height: 44px;
    padding: 0 0 0 15px;
    margin: 0;
    -webkit-appearance: none;
    border: none;
    border-radius: 3px;
    background-color: #f7f5f4;
    font-size: 16px;
    font-family: sans-serif;
}

.btn5{
    height: 45px;
    width: 100%;
    padding: 0 8px;
    font-family: serif;
    background: #0c67e7;
    border-radius: 3px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 40px 0;
	padding-bottom: 5px;
}


.btn5 p {
    color:#fff;
	font-size: 11px;	
}

.check {
    display: flex;
}

.check input[type=checkbox] {
    transform: scale(1.5);
}


input[type="checkbox" i] {
     margin:  20px 10px 0 0;
}

h3 {
    font-family:sans-serif;
    font-size:11px;
    color: #b2ada6;
    letter-spacing: 3px;
    text-align: left;
    font-weight: 100;
    padding-bottom: 10px;
}
.glovelmenu {
    display: flex;
    justify-content: space-around;
    margin: auto;
    background: #0D0900;
    padding: 50px 0;
    border-bottom: 1px solid rgba(178,173,166,.2);
}

.glovelmenu p {
    text-align: left;
    line-height: 8px;
}

.glovelmenu a {
    color: #fff;
    font-size: 18px;
}

.glovelmenu a:hover {
    color: #b2ada6;
}

footer {
    background: #0D0900;
    height: 150px;
}

footer p {
    margin: 0 auto;
    padding-top: 70px;
}



/* メディアクエリ　*/
@media screen and (max-width:414px) {
	
	video {
		min-height: 100vh;
		object-fit: cover;
	}
	
	.menu {
		display: none;
	}
	.maintext h1 {
        padding-left: 0px;
		text-align: center;
    }
	.maintext h2 {
        padding-left: 0px;
		text-align: center;
		padding-top:190px;
    }
	
	.mainbtn {
		padding-left: 0px;
		margin: auto;
	}
	
	.btn2 {
		display: none;
	}
	
	.lang {
        display: none;
	}
	.mark p {
		display: none;
	}
	.icon i{
        position: relative;
		right:170px;
		padding: 13px;
	}
	#icons {
        display: none;
	}
	
	.container h1 {
		padding-top: 290px;
	}
	.container p {
		width: 90%;
	}
	.red {
		display: none;
	}
	.leftarrow {
		left: 10px;
	}
	
	.rightarrow {
		right:10px;
	}
	
	.description {
		margin: 0;
		width: 100%;
	}
	.description h1 {
		margin: 35px 0;
	}
	
	.start {
        margin: 0;
		padding:10px 0 40px 0;
	}
	.starttext {
		width: 80%;
	}
	
	.create {
        margin: 0;
		padding:10px 0 40px 0;
	}
	
	.createtext{
		width: 80%;
	}
	
	.add {
		margin: 0;
		padding:0 0 40px 0;
	}
	
	.addtext {
       width: 80%;
	}
	.collection img {
		width: 100%;
	}
	
	.accessories {
        width: 339px;
	}
	
	.accessories img {
		width: 339px;
    }
	
	#store {
		display: flex;
		flex-direction: column;
	}
	#store img {
		width: 100%;
	}
	.storetext {
		width: 100%;
		padding: 30px 0;
	}
	.storetext p {
		width:90%;
	}
	.storetext h1 {
		margin: 0;
	}
	.question {
        display: flex;
		flex-direction: column;
		padding: 30px;
	}
	.question p{
		text-align: center;
		font-size: 16px;
	}
	.details {
		display: flex;
		flex-direction: column;
	}
	
	.form {
		padding: 0;
		width: 85%;
		margin: auto;
		padding-right: 10px;
	}
	
	.fullname {
        display: flex;
		flex-direction: column;
	}
	.signin {
        display: flex;
		flex-direction: column;
		padding-left: 20px;
	}
	.signin img {
		width:374px;
	}
	
	.glovelmenu {
		display: flex;
		flex-direction: column;
	    margin: auto;
		padding-left: 20px;
	}
	
	
/*ハンバーガーメニュー*/
	
	.bg {
		background-color: rgba(34,34,34,.5);
        position: fixed;
        top: 0;
        right:0;
        bottom: 0;
        left: 0;
        overflow: hidden;
	    transition:  opacity .2s ease;
		opacity: 0;
		display: none;
	}
	
	#gloval-nav ul{
		padding: 0;
	}


    #gloval-nav {
    background-color:rgba(255,255,255,0.9);
    background-blend-mode:lighten;
    color: #000;
	left: 0;
    z-index: 900;
	position: fixed;
	top: 0;
    left:90px;
    right: 0 !important;
    bottom: 0;
	text-align: left;
    display: flex;
	flex-direction: column;
    font-size: 29px;
    opacity: 0;
    transition:  opacity .2s ease, visibility .2s ease;
	display: none;
    }
	
   .open #gloval-nav {
     opacity: 1;
    }
	
	
	#gloval-nav li {
		list-style: none;
		color: #000;
		padding: 20px 0 20px 20px;
		border-bottom: 1px solid #f7f5f4; 
        letter-spacing: 3px;
	}
	
	#gloval-nav li a {
		color: #000;
		font-family: 'Roboto';
		font-size: 11px;
	}
	
	
	
	#nav-toggle i{
		position: absolute;
		right: 35px;
		top:35px;
		color: #fff;
		z-index: 990;
    }
	
	.extra {
       margin-right:15px;
       border-bottom:1px solid #ccc;
       position:relative;
       cursor:pointer;
	}
	.frame {
		padding:20px 0 10px 0;
	}
	
	.content{
		display: none;
	}
	
	.active {
		display: block;
	}


	.extra span {
		color: #fff;
		position: absolute;
		left: 330px;
		bottom: 22px;
		z-index: 400;
		display: block;
	}
	
	.content a {
		font-size: 15px;
	}
	
	.social {
		display: none;
	}
	 
}

#gloval-nav {
	opacity: 0;
}

.signin img{
	width: 100%;
}

.signin{
	width: 100%;
	padding:0;
}

.signin p{
	padding: 20px;
}


/* メディアクエリ　*/
@media screen and (min-width:768px) and (max-width:1024px){
	.icon i{
		display: none;
	}
	
	#gloval-nav {
    background-color:rgba(255,255,255,0.9);
    background-blend-mode:lighten;
    color: #000;
	left: 0;
    z-index: 900;
	position: fixed;
	top: 0;
    left:40%;
    right: 0;
    bottom: 0;
	text-align: left;
    display: flex;
	flex-direction: column;
    font-size: 29px;
    opacity: 0;
    transition:  opacity .2s ease, visibility .2s ease;
    }
	
	.maintext{
		margin-top: 100px;
		width: 100%;
	}
	
	header{
		position: relative;
	}
	video {
        position: absolute;
	top:0;
	left:0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    background: url(img/rimowa.png) no-repeat center;
    }
	
	.headarea{
		background:none !important; 
	}
	
	.maintext{
		position: relative;
		bottom: 100px;
	}
	
	.navbar-nav{
		width: 100% !important;
		padding:0;
		
	}
	
	.navbar-nav ul a{
		padding: 20px;
	}
	
	#gloval-nav{
		display: none;
		margin: 0 auto !important;

	}
	.container h1{
		padding: 0 0 40px 0;
	}
	.pic{
		margin: 0 20px;
	}
	
	.leftarrow{
	  left: 15px;
	}
	
	.rightarrow{
		right: 15px;
	}
	
	.description-text{
		width: 100%;
		text-align: center;
	}
	
	.description-text h1{
		margin: 50px 0;
		text-align: center;
		justify-content: center;
	}
	

	.signin img{
		display: none;
	}
	
	.signin p{
		width:80%;
	}
	
	.form{
		width: 75%;
		margin: auto;
		padding: 0;
	}
	
	.firstname{
		width:  300px;
	}
	
	.lastname{
		width:  300px;
	}
	
	
}

@media screen and (min-width:768px) and (max-width:1000px){
	.glovelmenu {
    display: flex;
    justify-content: space-around;
    margin: auto;
    background: #0D0900;
    padding: 50px 0;
    border-bottom: 1px solid rgba(178,173,166,.2) !important;
}

.glovelmenu p {
    text-align: left;
    line-height: 8px;
}

.glovelmenu a {
    color: #fff;
    font-size: 18px;
}

.glovelmenu a:hover {
    color: #b2ada6;
}
	
	.glovelmenu {
		display: flex;
		flex-direction: column;
	    margin: auto;
		padding-left: 20px;
	}
	
		.extra {
       margin-right:15px;
       border-bottom:1px solid #ccc;
       position:relative;
       cursor:pointer;
	}
	.frame {
		padding:20px 0 10px 0;
	}
	
	.content{
		display: none;
	}
	
	.active {
		display: block;
	}


	.extra span {
		color: #fff;
		position: absolute;
		right:20px;
		bottom: 22px;
		z-index: 400;
		display: block;
	}
	
	.firstname{
		width:  270px;
	}
	
	.lastname{
		width:  270px;
	}
	
}


